.Navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgb(86, 86, 86);

    .nav-left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo {
            margin-left: 25px;
            font-family: var(--secondary-font);
        }

        .menus {
            width: 50%;
            margin-left: 20px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 0.8vw;
                    padding: 5px 15px;

                    &:active {
                        color: rgb(138, 138, 138);
                    }

                }

                &:hover a {
                    color: rgb(138, 138, 138);
                }
            }
        }
    }

    .nav-right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-btns-web {
            width: 45%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button {
                padding: 10px 15px;
                min-height: 35px;
                border: none;
                outline: none;
                border-radius: 3px;
                background: rgb(226, 226, 226);
                transition: 0.5s ease;
                font-size: 1vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background: var(--secondary-color);
                    color: white;
                    font-weight: 600;
                    transition: 0.5s ease;
                }
            }
        }

        .userbtn {
            width: 30%;
            display: flex;
            margin-right: 40px;
            justify-content: flex-end;
            align-items: center;

            .userbtnhov {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px;
                position: relative;
                cursor: pointer;

                &:hover {
                    background: rgba(233, 233, 233, 0.697);
                }

                &:hover .userbtn-dropdown {
                    transition: 0.5s ease;
                    translate: 0;
                    opacity: 1;
                    visibility: visible;

                }

                .userbtn-dropdown {
                    position: absolute;
                    top: 110%;
                    right: 0;
                    width: 200px;
                    border: 1px solid rgb(205, 205, 205);
                    border-radius: 5px;
                    visibility: hidden;
                    opacity: 0;
                    translate: 0 15px 0;
                    transition: 0.5s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: white;

                    .user-menus {
                        padding: 10px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        list-style: none;
                        gap: 10px;

                        li {
                            width: 100%;

                            a {
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                text-decoration: none;
                                color: black;
                                font-size: 0.8vw;
                                padding: 5px 15px;

                                &:active {
                                    color: rgb(138, 138, 138);
                                }

                            }

                            &:hover a {
                                color: rgb(138, 138, 138);
                            }
                        }
                    }


                }


            }

        }

    }

    .nav-right-mob {
        display: none;
        width: 60px;
        height: 60px;
        perspective: 1000px;

        &:hover .flip-inner-wrapper {
            transform: rotateY(180deg);
            animation: none;
        }

        .flip-inner-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            margin-right: 60px;
            animation: rot3d 5s 5s infinite alternate ease-in-out;

            .flip-front {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 50%;
            }

            .flip-back {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fdefeb;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 50%;
                transform: rotateY(180deg);
                a{
                    color: black;
                }
            }


        }

    }
}

// Media query for Tablets
@media screen and (max-width:1025px) {}

// Media query for phones
@media screen and (max-width:990px) {
    .Navbar {
        box-shadow: none;

        .nav-left {
            width: 100%;
            justify-content: flex-start;

            .logo {
                margin: 10px;

                h1 {
                    font-size: 7vw;
                }
            }
        }

        .nav-right {
            display: none;
        }

        .nav-right-mob {
            display: block;
        }
    }


    // Media query for Tablets
}

@media screen and (max-width:991px) and (min-width:600px) {}